# App settings
NODE_ENV=
PORT=

# Meta/Whatsapp credentials
META_WHATSAPP_WEBHOOK_VERIFY_TOKEN=
META_WHATSAPP_PHONE_NUMBER_ID=
META_GRAPH_API_VERSION=
META_GRAPH_ACCESS_TOKEN=

# Supabase credentials
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=