# Applications port, default is 3000
PORT=
# Meta verify token, created by admins and setted on meta painel
META_WEBHOOK_VERIFY_TOKEN=
# Meta access token
META_WHATSAPP_ACCESS_TOKEN=
# API Sender whatsap message version (https://graph.facebook.com/:VERSION)
META_WHATSAPP_API_VERSION=

# Supabase config integration envs
SUPABASE_URL=
SUPABASE_KEY=